body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
  }
  
  input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 96.5%;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 96.5%;
    margin-bottom: 10px;
  }
  
  input[type="button"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    background-color: #333;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type="button"]:hover {
    background-color: #555;
  }
  
  strong {
    font-size: medium;
  }
  
  footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 20px;
  }
  