body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }

  .container-pai{
    margin-top: 10px;
    width: 100%;
    height: 50%;
    display: flex;
    gap: 5%;
    flex-direction: column;
  }
  div{
    min-width: 300px;
    width: 30%;
    justify-content: center;
    align-self:center;
  }
  input{
    min-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  input[type="button"] {
    border-radius: 5px;
    border: none;
    color: #FFF;
    background-color: #333;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #555;
  }
  
  strong {
    font-size: medium;
  }
  
  footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 20px;
  }
